.help-page
  .page-content
    .page-back-button-container
      display: inline-block
      position: fixed
      top: 16px
      left: 16px
    .help-page-content
      max-width: 480px
      margin: 100px auto 160px
      h1
        margin-bottom: 24px

.mobile-ui
  .help-page
    .page-content
      .page-back-button-container
        top: 0
        left: 0
      .help-page-content
        width: 100%
        max-width: auto
        margin: ($height-mobile-header + 24px) 0
        padding: 0 16px
