.settings-page
  .page-content
    .setting-list-container
      max-width: 480px
      margin: 100px auto
      .list + .list
        margin-top: 20px
    .page-back-button-container
      display: inline-block
      position: fixed
      top: 16px
      left: 16px
